<!DOCTYPE html>
<html lang="en-US" ng-app="firstModule">
  <head>

  </head>
  <body>

    <div class="container" ng-controller="SimpleController as smpctrl">
      <h1>My name is</h1>
      Name:
      <input type="text" ng-model="smpctrl.name" />
      {{smpctrl.name}}

      <h2>My friends</h2>
      New Friend
      <input type="text" ng-model="smpctrl.newFriend"/>
      <button ng-click="smpctrl.friends.push(smpctrl.newFriend)">
        Add
      </button></br>
      Search:
      <input type="text" ng-model="smpctrl.friendSearchQuery" />
      <a href="#" ng-click="smpctrl.friendReverse=!smpctrl.friendReverse">sort</a>
      <ul>
        <li ng-repeat="friend in smpctrl.friends | filter:smpctrl.friendSearchQuery | orderBy:'':smpctrl.friendReverse">
          {{friend}}
        </li>
      </ul>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>